<a href="https://colab.research.google.com/github/sumitt1/pythonall/blob/master/classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
class Person:
    pass

person = Person()  # Creating an instance of the Person class

person.name = "John"  # Assigning a value to the name attribute
person.age = 30      # Assigning a value to the age attribute

print(person.name)  # Output: John
print(person.age)   # Output: 30

John
30

In [15]:
class Person:
    def __init__(self):
        pass

    @classmethod
    def create(cls, name, age):
        person = cls()
        person.name = name
        person.age = age
        return person

person = Person.create("John", 30)

print(person.name)  # Output: John
print(person.age)   # Output: 30

John
30

In [13]:
a={1,2,3}
n={4,5,6}
b={'a':1,'b':2}
c=([])
d=()
e=set()
#print(an)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

TypeError: ignored

In [12]:
numbers = {21, 34, 54, 12}
capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
number = {1: "One", 2: "Two", 3: "Three"}
capital_city["Japan"] = "Tokyo"

print("Updated Dictionary: ",capital_city)
print(numbers)
print(capital_city)
print('Initial Set:',numbers)
# using add() method
numbers.add(32)

print('Updated Set:', numbers)

Updated Dictionary:  {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}
{34, 12, 21, 54}
{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}
Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}