<a href="https://colab.research.google.com/github/sumitt1/pythonall/blob/master/collection_casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_immutable_set = frozenset([1, 2, 3, 4, 5])
my_mutable_set = set(my_immutable_set)
print(my_mutable_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [7]:
import gc as gc
my_string = "Hello"
my_list = list(my_string)
print(my_list)  # Output: ['H', 'e', 'l', 'l', 'o']
gc.isenabled()

['H', 'e', 'l', 'l', 'o']

True

In [3]:
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [4]:
my_list = ['H', 'e', 'l', 'l', 'o']
my_string = ''.join(my_list)
print(my_string)  # Output: "Hello"

Hello

In [5]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]