<a href="https://colab.research.google.com/github/sumitt1/pythonall/blob/master/collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a={1,2,3}

b={'a':1,'b':2}
c=([])
d=()
e=set()

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'set'>
<class 'dict'>
<class 'list'>
<class 'tuple'>
<class 'set'>

In [12]:
numbers = {21, 34, 54, 12}
capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
number = {1: "One", 2: "Two", 3: "Three"}
capital_city["Japan"] = "Tokyo"

print("Updated Dictionary: ",capital_city)
print(numbers)
print(capital_city)
print('Initial Set:',numbers)
# using add() method
numbers.add(32)

print('Updated Set:', numbers)

Updated Dictionary:  {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}
{34, 12, 21, 54}
{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}
Initial Set: {34, 12, 21, 54}
Updated Set: {32, 34, 12, 21, 54}